In [28]:
from persiantools.jdatetime import JalaliDate
import pandas as pd
import math

In [29]:
sheet = {'cost':2, 'cost_log':3, 'save':0, 'save_log':1, 'total':4}
df = {}
for key in sheet:
    df[key] = pd.read_excel("Financial-1402-1.xlsx", sheet_name=sheet[key])

In [30]:
# get date now
date_now = JalaliDate.today()

# week of month number
week_of_month = math.ceil(date_now.day / 7)

# day name
get_day = date_now.strftime('%A')
# day id
get_day_id = date_now.weekday()
# month name
get_month = date_now.strftime('%B')
# month id
get_month_id = date_now.month

In [31]:
df_save = df['save']
# df_save[df['save']['month_id'] == get_month_id]['sum'].sum()
# a = df_save['month_id'] == get_month_id
# a.any()
df_save

   id  month_id  week_id  day_id  day     sum        date
0   0         7        1       0    1  570000  1402/07/01
1   1         7        1       1    2   70000  1402/07/02